.anatomy-section {
  padding: 10px;
 
}

.anatomy-card {
  position: relative;
  /* width: 250px; */
 background-color: #f5f9ff;
  border-radius: 20px;
 
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anatomy-img {
  max-width: 220px;
  height: auto;
  object-fit: contain;
}

.overlay-tag {
  position: absolute;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 10px;
  font-weight: 500;
  width:85px;
  color: white;
}

.overlay-tag.heart {
  top: 90px;
  left: 160px;
  background-color: #6d28d9; /* purple */
}

.overlay-tag.leg {
  bottom: 120px;
  left: -20px;
  background-color: #06b6d4; /* cyan */
}
