.dashboardContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightPanel {
  width: auto;
  height: 750px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
background-color: #f9fafe;
  padding: 20px;
  border-radius: 12px;
  margin-top: 10px;

}

.dashboardTitle {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #222;
}


.anatomyHealthWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

/* Responsive: Tablets */
@media (max-width: 1024px) {
  .dashboardContent {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
  }

  .rightPanel {
    margin-top: 0;
  }
}

/* Responsive: Mobile Devices */
@media (max-width: 768px) {
  .anatomyHealthWrapper {
    flex-direction: column;
    align-items: center;
  }

  .dashboardTitle {
    font-size: 20px;
    text-align: center;
  }
}

/* Responsive: Small Mobile */
@media (max-width: 480px) {
  .dashboardTitle {
    font-size: 18px;
  }

  .rightPanel {
    padding: 10px;
  }
}
