.app {
  display: flex;
 
  font-family: Arial, sans-serif;
  
}
.sidebar {
  transition: width 0.3s ease;
    background-color: #f9fafe;
  
   transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  height:auto;
  padding: 1rem;
}

.sidebar.open {
  width: 220px;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.label {
  font-size: 14px;
}

.icon {
  font-size: 20px;
  margin-right: 20px;
}
.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  font-size: 24px;
  font-weight: bold;
  color: rgb(93, 224, 213);

}

.logocare {
  color: black;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: #340034;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #000000a8;
  transition: background-color 0.3s;
  border-radius: 15px;
}
.menu-item.active a {
  font-weight: bold;
  color: #000; 
}

.menu-text {
  margin-left: 1rem;
  white-space: nowrap;
}

.profile-section {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}



.settings-link {
  display: flex;
  align-items: center;       
  justify-content: center;   
  gap: 8px;                
  padding: 1rem;
  cursor: pointer;
  color: #000;            
}

.settings-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}



@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar.collapsed {
    width: 70px;
  }

  .sidebar.open {
    width: 100%;
  }

  .profile-picture {
    width: 35px;
    height: 35px;
  }

  .profile-name {
    font-size: 1rem;
  }

  .profile-role {
    font-size: 0.8rem;
  }
}


